# Personal work 1

In [1]:
#1.Print all elements of a list using for loop.

In [2]:
Dlist = [1,2,3,4,5,6,7,8,9]
print (Dlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for x in Dlist:
    print (x)

1
2
3
4
5
6
7
8
9

In [9]:
#2. A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [10]:
salary = int(input("Enter your salary = "))

year = int(input("Enter your year of service = "))

if year>5:

   print("Your Net bonus is",0.05*salary)

Enter your salary = 1000
Enter your year of service = 7
Your Net bonus is 50.0

In [11]:
# Take input of age of 3 people by user and determine oldest and youngest among them.

In [12]:
age1 = int(input("Enter age for A: "))
age2 = int(input("Enter age for B: "))
age3 = int(input("Enter age for C: "))
d = [age1, age2, age3]
minimum = min (age1, age2,age3)
maximum = max (age1, age2, age3)
print("person " + str(d.index(minimum) + 1)+ " is the youngest") 
print("person " + str(d.index(maximum) + 1)+ " is the oldest")

Enter age for A: 5
Enter age for B: 10
Enter age for C: 15
person 1 is the youngest
person 3 is the oldest

In [13]:
#A school has following rules for grading system: 
#a. Below 25 - F 
#b. 25 to 45 - E 
#c. 45 to 50 - D 
#d. 50 to 60 - C 
#e. 60 to 80 - B 
#f. Above 80 - A 
#5) Ask user to enter marks and print the corresponding grade.

In [14]:
print ("Enter marks")
marks = int(input ())
if (marks <= 25) :
    print ("F")
elif (marks >= 25 and marks <45):
    print ("E")
elif ( marks >= 45 and marks <50):
    print ("D")
elif (marks >= 50 and marks <60):
    print ("C")
elif (marks >= 60 and marks <80):
    print ("B")
else:
    print ("A")

Enter marks
95
A

In [15]:
#6. Write a Python script to merge two Python dictionaries

In [18]:
d1= {"Akin":"orange", "Doyin": "Black", "Yusuf": "white"}
print (type(d1))
d2= {"Ola" : "Blue", "Ayo" : "Green"}
d = d1.copy()
d.update(d2)

print(d)

<class 'dict'>
{'Akin': 'orange', 'Doyin': 'Black', 'Yusuf': 'white', 'Ola': 'Blue', 'Ayo': 'Green'}

In [22]:
#7.Write a python program to get the largest number from a list

In [23]:
list = [1,2,4,5,6,7,10,20]
maximum = max (list)
print (maximum)

20

In [24]:
#8.Write a python program to remove a key from a dictionary

In [21]:
d1={"Akin":"orange", "Doyin": "Black", "Yusuf": "white"}
print (d1)
if "Akin" in d1:
    del d1 ["Akin"]
    print (d1)

{'Akin': 'orange', 'Doyin': 'Black', 'Yusuf': 'white'}
{'Doyin': 'Black', 'Yusuf': 'white'}